.search_bar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_icon {
    font-size: 1em;
    position: absolute;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.cancel_icon {
    font-size: 1em;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
    color: #fff;
    border: none;
    background-color: #184b44 !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
    -webkit-transition-delay: 9999s;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    background-color: rgba(24, 75, 68, 0.8) !important;
}

.input:hover {
    background-color: rgba(24, 75, 68, 0.8) !important;
}

.input_group {
    position: relative;
}