.register_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_paper {
    background-color: #fff;
    border-radius: 2.8%/6%;
    width: 75%
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.label {
    color: #184b44;
}

.form {
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.input {
    border-radius: 0.8%/25%;
    color: #184b44;
    border-color: #184b44;
    border-style: solid;
    width: 100%;
}

.input::placeholder {
    color: #184b44;
}

.input:focus {
    outline: none;
}

.submit_button {
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #184b44;
    border: solid 1px #184b44;
    border-radius: 3%/9%;
    width: 120px;
}


@media screen and (max-width:500px) {
    .form_paper {
        width: 90%;
        border-radius: 4.5%/6%;
    }

    .form {
        margin: 2em;
    }

    .input {
        border-radius: 2%/24%;
    }
}

@media screen and (min-width:1440px) {
    .form_paper {
        width: 1000px;
    }
}