.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 100%;
    width: 100%;*/
    z-index: -1;
    display: flex;
    align-items: stretch;
}

.background_left {
    flex-grow: 1;
    background-color: #184b44;
}

.empty_stripe {
    background-color: #fff;
    width: 1em;
}


.background_right {
    flex-grow: 11;
    background-color: #184b44;
}