.form_wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 30;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 0.5em;
    border-top: solid 1px #184b44;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.submit_button {
    color: #fff;
    background-color: #184b44;
    border: solid 1px #184b44;
    border-radius: 7px;
    width: 120px;
    position: relative;
    z-index: 1;
    border: solid 1px #fff;
    overflow: hidden;
    transition: color 1s linear 0s;
}

.submit_button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s linear 0s;
    transform-origin: center;
    overflow: hidden;
}

.submit_button:hover::before,
.submit_button:focus::before {
    transform: scale(1.5);
    background-color: #fff;
}

.submit_button::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 3;
    border: solid 1px #184b44;
    border-radius: 7px;
}


.submit_button:hover,
.submit_button:focus {
    color: #184b44;
}

.cancel_icon {
    font-size: 1.5em;
    color: #184b44;
}

.form_actions {
    display: flex;
    align-items: center;
}

@media screen and (max-width:380px) {
    .toggle_button {
        width: 100%;
    }

    .sort_menu_wrapper{
        flex-grow: 1;
        width: auto;
    }
    .form{
        justify-content: center;
    }
}