.list_card_wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list_card {
    border-radius: 3px;
    width: 100%;
    padding: 0.25em;
    background-color: #fff;
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_heading_wrapper {
    flex-grow: 1;
    overflow: hidden;
}

.card_heading {
    max-width: 100%;
    font-size: 1em;
    color: #184b44;
    cursor: default;
    word-wrap: break-word;
}

.card_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_body {
    flex-grow: 1;
}

.icon_wrapper {
    align-self: stretch;
}