.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #184b44;
    border-top: solid 1em #fff;
}

.footer_text {
    font-size: 1em;
    text-align: center;
}