.form {
    padding-bottom: 1em;
}

.input {
    border-radius: 6px !important;
    color: #184b44;
    border-color: #184b44;
    border-style: solid;
    width: 100%;
    font-size: 1em;
}

.textarea {
    white-space: pre-line;
    width: 100% !important;
    resize: none;
    font-size: 1em;
}

.input::placeholder {
    color: #184b44;
}

.input:focus {
    outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
    -webkit-transition-delay: 9999s;
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submit_button {
    color: #fff;
    background-color: #184b44;
    border: solid 1px #184b44;
    border-radius: 7px;
    width: 120px;
    position: relative;
    z-index: 1;
    border: solid 1px #fff;
    overflow: hidden;
    transition: color 1s linear 0s;
}

.submit_button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s linear 0s;
    transform-origin: center;
    overflow: hidden;
}

.submit_button:hover::before,
.submit_button:focus::before {
    transform: scale(1.5);
    background-color: #fff;
}

.submit_button::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 3;
    border: solid 1px #184b44;
    border-radius: 7px;
}

.submit_button:hover,
.submit_button:focus {
    color: #184b44;
}

.cancel_button {
    color: #fff;
    background-color: rgba(24, 75, 68, 0.8);
    border: solid 1px rgba(24, 75, 68, 0.8);
    border-radius: 7px;
    width: 120px;
    position: relative;
    z-index: 1;
    border: solid 1px #fff;
    overflow: hidden;
    transition: color 1s linear 0s;
}

.cancel_button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s linear 0s;
    transform-origin: center;
    overflow: hidden;
}

.cancel_button:hover::before,
.cancel_button:focus::before {
    transform: scale(1.5);
    background-color: #fff;
}

.cancel_button::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 3;
    border: solid 1px rgba(24, 75, 68, 0.8);
    border-radius: 7px;
}

.cancel_button:hover,
.cancel_button:focus {
    color: rgba(24, 75, 68, 0.8);
}

.input_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.message_icon {
    background-color: #184b44;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    flex-shrink: 0;
}

.wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
