.settings_button {
    padding-right: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    background-color: #184b44;
    border: none;
    font-size: 1em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_button:hover,
.settings_button:active {
    background-color: rgba(24, 75, 68, 0.8);
}

.username {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

@media screen and (max-width:550px) {
    .settings_button {
        width: 100%;
    }
}

