.display_icon {
    font-size: 2em;
    color: #fff;
    background-color: #184b44;
    border-radius: 50%;
    padding: 0.25em;
}

.form_label {
    display: flex;
    align-items: center;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.label {
    color: #184b44;
}

.form {
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.text_area {
    resize: vertical;
    white-space: pre-wrap;
}

.input {
    border-radius: 6px;
    color: #184b44;
    border-color: #184b44;
    border-style: solid;
    width: 100%;
    font-size: 1em;
}

.input::placeholder {
    color: #184b44;
}

.input:focus {
    outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
    -webkit-transition-delay: 9999s;
}

.submit_button {
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #184b44;
    border: solid 1px #184b44;
    border-radius: 7px;
    width: 120px;
    position: relative;
    z-index: 1;
    border: solid 1px #fff;
    overflow: hidden;
    transition: color 1s linear 0s;
}

.submit_button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s linear 0s;
    transform-origin: center;
    overflow: hidden;
}

.submit_button:hover::before,
.submit_button:focus::before {
    transform: scale(1.5);
    background-color: #fff;
}

.submit_button::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 3;
    border: solid 1px #184b44;
    border-radius: 7px;
}


.submit_button:hover,
.submit_button:focus {
    color: #184b44;
}


@media screen and (max-width:500px) {
    .form {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}